@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&family=Bebas+Neue&family=Comfortaa:wght@300..700&family=Lobster+Two:ital,wght@0,400;0,700;1,400;1,700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

.bn-regular {
    font-family: "Bebas Neue", sans-serif;
    font-weight: 400;
    font-style: normal;
}


* {
    padding: 0;
    margin: 0;

}

Link, a{
    color: #1c1c1c;
    text-decoration: none;
}

.home-page {
    overflow: hidden;
    /* filter: invert(); */
    /* background-color: white; */
}

.bg {
    width: 55vw;
    height: 40vw;
    border-top-left-radius: 80vw;
    border-bottom-left-radius: 80vw;
    /* border-bottom-left-radius: 80vw; */
    /* border-bottom-right-radius: 80vw; */
    float: right;
    background-color: orange    ;
}

nav {
    display: flex;
    justify-content: space-between;
    padding: 1rem 2rem;
    background-color: white;
    color: black;

}

nav ul {
    display: flex;
    justify-content: space-evenly;
}

nav ul li {
    list-style: none;
    margin: 0 2rem;
}

.logo {
    font-family: "Amatic SC", serif;
    font-size: 46px;
    font-weight: 600;
}




.home-page {
    min-height: 100vh;
    /* background: url("./pet-pr1.jpg") no-repeat center ;
    background-size: cover; */
    background: white;
    text-transform: uppercase;
    overflow-y: hidden;

    /* filter: blur(8px); */
}

.head-img {
    width: 720px;
    /* right: 0    ; */
    /* float: right; */
    /* margin-left: 10rem; */
    transform: translateX(720px);
}

.heading-elements {
    display: flex;
    justify-content: center;
}

.heading {
    display: flex;
    /* justify-content: end; */
    font-family: "Bebas Neue";
    font-weight: 400;
}


.main-heading {
    font-size: 126px;
    color: orange;
    float: right;
    transform: translateX(600px) translateY(80px);
    min-width: 40vw;
    /* display: flex; */
    /* transform: ; */
    /* text-align: start; */
}

.head-subline{
    font-size: large;
    color: black;
    transform: translateY(-40px);
    margin: 20px;
    font-family:  "Poppins";
    text-transform: capitalize;
}

.main-heading p:nth-child(1){
    margin-top: 3rem;
}

.main-heading p:nth-child(1), .main-heading p:nth-child(2){
    margin-bottom: -2.5rem;
}

.btn-heading {
    display: flex;

}

.btn-heading button {
    height: 3rem;
    width: 10rem;
    margin: 1rem;
    border-radius: 25px;
    font-size: 18px;
    font-weight: 700;
    /* justify-content: center; */
    /* float: left; */
    /* padding: 1rem; */
    background-color: transparent;
    color: orange;
    border: orange 1px solid;
    transform: translateX(-620px) translateY(550px);
    font-family: "Comfortaa";
    font-weight: 700;
    cursor: pointer;

}

footer {
    background-color: orange;
    padding: 2rem;
    color: white;
    /* min-height: 100vh; */

}

.media{
    text-align: center;
    margin-left : 12px;
}

.media-sub{
    
    display: flex;
    /* padding: 12px; */
}
.media-sub li{
    margin: 10px 12px;
}


/* .footer li:nth-child(2){
    margin-top: 1rem;
} */


.lists {
    display: flex;
    justify-content: space-evenly;
}

.footer li {
    text-align: start;
    list-style: none;
}

.cnt-main{

    /* min-height: 100vh; */
}

.contact {
    display: flex;
    justify-content: space-evenly;
}

.cnt-head,
.ser-head {
    margin-top: 2rem;
    font-size: 56px;
    font-family: "Poppins";
}

.cnt-subhead {
    font-family: "Lobster Two";
    font-size: 28px;
}

.cnt-info {
    /* float: inline-start; */
    margin: 4rem;
}

.cnt-info button {
    width: 18rem;
    height: 3rem;
    margin: 1rem;
    border-radius: 25px;
    background: orange;
    color: white;
    border: 0px solid;
}

input {
    border: 0px solid;
    margin: 5px 2rem;
    width: 20vw;
    height: 1rem;
    border: 1px solid orange;
    border-radius: 25px;
    padding: .8rem;
    /* width: 34%;   */
    /* height: 4vh; */
    /* border-bottom: 1px solid orange; */
}

textarea {
    /* height: 4vh; */
    height: 20vh;
    border: 0px solid;
    border-bottom: 1px solid orange;
    width: 82%;
    display: block;
    margin: 0 auto;

    width: 46vw;
    /* height: 1rem; */
    border: 1px solid orange;
    border-radius: 25px;
    padding: .8rem;
    resize: none;
}

.ser-main{

    min-height: 100vh;
}

.ser-second h3{
    font-size: 34px;
    text-align: start;
}

.ser-second p{
    margin: 2rem 0;
    text-align: start;
    width: 30vw;
}
.services {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.cnt-det {
    /* float: inline-end; */
    margin: 4rem;
}

.cards {
    display: flex;
    margin: 0 2rem;
}

.card {

    text-align: start;
    color: white;
    margin: .1rem;
    padding: 1rem;
    height: 13rem;
    width: 12rem;
    background-color: orange;
    border-radius: 25px;
    overflow: hidden;
}

.card-head {
    display: flex;
    justify-content: start;
    margin: 6px;
}


.card-desc,
.card-cta,
.card-head i {
    margin: 6px;
}

.ser-cnt {
    float: right;
    display: block;
}

.ser-cnt input,
.ser-cnt textarea {
    display: block;
    width: 20vw;
    height: 1rem;
    border: 1px solid orange;
    border-radius: 25px;
    padding: .8rem;
}

.ser-cnt textarea {
    height: 3rem;
}

.ser-cnt button {
    width: 10vw;
    color: white;
    background-color: orange;
    border-radius: 25px;
    height: 3rem;
    border: 0 solid;
    margin: .5rem 2rem;
    float: inline-start;
}

.ser-cnt textarea::placeholder,
.ser-cnt input::placeholder {
    color: orange;
}

.menu{
    display: inline-block;
    cursor: pointer;
    margin-top: .5rem;
}

.bar1, .bar2, .bar3 {
    width: 35px;
    height: 5px;
    background-color: #333;
    margin: 6px 0;
    transition: 0.4s;
  }

.change .bar1 {
    transform: translate(0, 11px) rotate(-45deg);
}
.change .bar2 {
    opacity: 0;
}
.change .bar3 {
    transform: translate(0, -11px) rotate(45deg);
}


@media screen and (max-width:800px){

    .ser-main, .services{
        display: block;
    }

    .ser-second

    .ser-cnt input, .ser-cnt textarea, .ser-cnt button{
        width: 70vw;
    }



    .cnt-main{
        display: block;
        margin-top: 20rem;
    }
    
    .cnt-det{
        margin: 0;
    }
    
    .contact{
        display: block;

    }

    .cnt-info input{
        width: 70vw;
        margin: .2rem auto;
    }

    .cnt-info textarea{
        width: 70vw;
        margin: .2rem auto;
    }

    .cnt-info button{
        width: 35vw;
        margin: 1rem auto;
    }

    .cnt-det{
        margin: 5rem auto;
    }

    nav ul{
        display: none;
    }

    nav{
        padding: 1rem;
        /* margin: auto 1rem; */
    }

    .bg{
        /* width: 55vw; */
        height: 90vw;
        margin: auto;
        border-top-left-radius: 80vw;
        border-bottom-left-radius: 80vw;
        /* float: right; */
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: orange    ;
    }

    .main-heading {
        font-size: 86px;
        color: orange;
        float: right;
        filter: drop-shadow(6px 7px 25px #ffffff80);
        min-width: 90vw;
        margin: auto 1rem;
        transform: translateX(680px);
        text-align: start;
    }

    .main-heading button{
        margin: 0 2rem;
        transform: translate() none;
    }
    
    .btn-heading button {
        height: 3rem;
        width: 10rem;
        margin: 1rem;
        border-radius: 25px;
        font-size: 18px;
        font-weight: 700;
        background-color: transparent;
        color: orange;
        border: orange 1px solid;
        transform: translateX(-520px) translateY(500px);
        font-family: "Comfortaa";
        font-weight: 700;
        cursor: pointer;
    
    }


    .ser-second h3, .ser-second p{
        width: 80vw;
        text-align: center;
        margin: 2rem auto;
    }

    



    
}